<!-- Order History -->
<% if @previous_orders.empty? %>
	<% if logged_in? && !current_user.role?(:customer) %>
		<h5>No orders have been placed by this customer yet.</h5>
	<% elsif logged_in? && current_user.role?(:customer) %>
		<h5>You have not placed any orders yet.</h5>
	<% end %>
<% else %>
	<br>
	<hr class="fancy2">
	<br>

	<h5>Order History:</h5>
	<table class="striped centered">
	<thead>
		<th>Date</th>
		<th>Amount</th>
	</thead>

	<% for order in @previous_orders %>
		<tr>
			<td><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
			<td>$<%= number_with_precision(order.grand_total, :precision => 2) %></td>
		</tr>
	<% end %>
	</table>
<% end %>