<div class="container">
  <div class="row">
    <div class="col s12 center">
    	<br>
			<%= image_tag 'bread.jpg', class: "center" %> 
			<h2>
				Welcome To A &amp; M Bread Express
			</h2>
			<p>
				Twins Alex and Mark are continuing their entrepreneurial ways by starting up the A & M Bread Express Company, an online bakery that delivers fresh baked goods just like their mom used to (and still does) make. We offer the most delicious baked goods in the world. Shop now!
			</p>

	  	<b>Users:</b>
			<p>
				If you are a registered user, 
			  <%= link_to "click here to login", login_path %>. If you want 
			  to create an account with us, <%= link_to "please click here to register", signup_path %>.
			</p>
		</div>
	</div>
</div>