<div class="container">
  <div class="row">
    <div class="col s12 center">
        <br>

        <%= image_tag 'bread.jpg', class: "center" %> 
        <h2>
            About A & M Bread Express
        </h2>
        <p>
            Now that Alex and Mark Heimann are finishing their college educations, they are looking to expand their career options. To that end, they have decided to create a new start-up venture called "Bread Express".
            Customers are able to order from this online site and choose from a selection of breads, muffins, and pastries. Each evening at 9PM the bakers will come in, review a list of items that need to be created and bake all the items that were ordered the previous day. By 12AM the shippers will review the orders that need to be filled, pack each order into boxes, and have them express shipped so that customers will have their orders in hand no later than 4:30PM that day.
        </p>
    </div>
  </div>
</div>